In [1]:
import requests
import json
from datetime import datetime, timedelta, timezone
import pandas as pd

## Get historical data

In [2]:
api_key = "ec722f11f234fb9a316e2580e6e2019e"
lat = 50.88
lon= 4.7
start_date = "1640995200"
end_date = "1672473600"

url = f"http://api.openweathermap.org/data/2.5/air_pollution/history?lat={lat}&lon={lon}&start={start_date}&end={end_date}&appid={api_key}"
# url = f"http://api.openweathermap.org/data/2.5/air_pollution?lat={lat}&lon={lon}&appid={api_key}"
#url = f"http://api.openweathermap.org/data/2.5/air_pollution/forecast?lat={lat}&lon={lon}&appid={api_key}"

response = requests.get(url)

if response.status_code == 200:
    data = response.json()
else:
    print("Error:", response.status_code)

In [4]:
# Historical
df = pd.DataFrame(data['list'])
df["dt"] = pd.to_datetime(df["dt"], unit="s")
components_df = pd.json_normalize(df["components"])
aqi_df = pd.json_normalize(df['main'])
df = pd.concat([df, components_df, aqi_df], axis=1)
df.drop(["components", "main"], axis=1, inplace=True)
df.to_csv("air_quality_full.csv")
df

,dt,co,no,no2,o3,so2,pm2_5,pm10,nh3,aqi
0,2022-01-01 00:00:00,253.68,0.0,8.83,39.34,1.82,3.68,5.20,0.79,1
1,2022-01-01 01:00:00,250.34,0.0,8.05,38.62,1.86,3.69,5.27,0.79,1
2,2022-01-01 02:00:00,247.00,0.0,7.11,38.27,1.71,3.44,4.99,0.78,1
3,2022-01-01 03:00:00,243.66,0.0,6.17,38.62,1.33,2.93,4.26,0.72,1
4,2022-01-01 04:00:00,257.02,0.0,6.85,37.19,1.03,3.02,4.07,0.68,1
...,...,...,...,...,...,...,...,...,...,...
8572,2022-12-31 04:00:00,201.94,0.0,2.23,58.65,0.57,0.53,0.58,0.20,1
8573,2022-12-31 05:00:00,198.60,0.0,2.21,61.51,0.54,0.71,0.78,0.22,2
8574,2022-12-31 06:00:00,200.27,0.0,2.96,62.94,0.62,0.99,1.08,0.25,2
8575,2022-12-31 07:00:00,205.28,0.0,3.86,62.23,0.72,1.16,1.31,0.31,2
8576,2022-12-31 08:00:00,208.62,0.0,4.37,60.08,0.83,1.32,1.54,0.38,2